@font-face {
  font-family: "MATH";
  src: url("../fonts/ClaireHandBold.woff") format('woff');
}

body {
  background-image: url("../images/background.png");
  text-align: center;
}

input[type=checkbox] {
  transform: scale(2);
  position: relative;
  left: 0.9em;
  box-shadow: none;
  height: inherit;
  width: inherit;
}

input {
  margin-bottom: 0.5em;
  text-align: center;
  height: 2em;
  width: 4em;
  font-size: 2em;
  color: rgb(18, 147, 89);
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 2px 2px 0 1px red;
}

button {
  margin: 1em;
  vertical-align: middle;
  width: 8em;
  height: 3em;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  background: rgb(17, 129, 158);
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 2px 2px 0 1px red;
}

.game-container {
  width: 50%;
  margin: 0 auto;
  font-family: "MATH";
  background: white;
  border: 2px solid rgb(18, 147, 89);
  color: rgb(18, 147, 89);

  #canvas {
    width: 150px;
    height: 150px;
    border: 2px solid red;
  }

  .checkbox {
    display: inline-block;
    margin: 0.5em;
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: 2px 2px 0 1px red;

    img {
      padding: 1em;
      height: 5em;
      width: 5em;
    }
  }

  #question {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 30px;
    border: none;
    color: black;
    text-align: center;
  }

  #answer {
    font-size: 3.5em;
  }
}

.glowRed {
  border-color: red;
  box-shadow: 0 0 10px red;
}
.correct {
  color: rgb(6, 152, 12);
}
.wrong {
  color: red;
}
